*.zip
packaged
sdk/webcontent
sdk/docs
version_unknown
webcontentxx
WebWorkbench.mswwsettings
.sass-cache
sdk/sampleCopy
working/server/java/dist/
working/server/java/codekit/target/
*.*~
~$*
test/samples/target/
*.log
.classpath
.project
*.prefs
.metadata/
working/server/php/public_html/att/att-php.txt
*.tmp
*.cert
*.key
*.pkcs12
