<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Att Sample</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>errorjsp</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>


	<servlet>
		<description></description>
		<display-name>AttAuthCheck</display-name>
		<servlet-name>AttAuthCheck</servlet-name>
		<servlet-class>com.sencha.att.servlet.AttAuthCheckServlet</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>AttAuthCallback</display-name>
		<servlet-name>AttAuthCallback</servlet-name>
		<servlet-class>com.sencha.att.servlet.AttAuthCallbackServlet</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>AttPaymentCallbackServlet</display-name>
		<servlet-name>AttPaymentCallbackServlet</servlet-name>
		<servlet-class>com.sencha.att.servlet.PaymentCallbackServlet</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>NotificationServlet</display-name>
		<servlet-name>NotificationServlet</servlet-name>
		<servlet-class>com.sencha.att.servlet.NotificationServlet</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>SpeechToText</display-name>
		<servlet-name>SpeechToText</servlet-name>
		<servlet-class>com.sencha.att.servlet.SpeechToTextServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <description></description>
        <display-name>TextToSpeech</display-name>
        <servlet-name>TextToSpeech</servlet-name>
        <servlet-class>com.sencha.att.servlet.TextToSpeechServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>SmsOutbox</display-name>
        <servlet-name>SmsOutbox</servlet-name>
        <servlet-class>com.sencha.att.servlet.SmsOutboxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>SmsInbox</display-name>
        <servlet-name>SmsInbox</servlet-name>
        <servlet-class>com.sencha.att.servlet.SmsInboxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>MmsOutbox</display-name>
        <servlet-name>MmsOutbox</servlet-name>
        <servlet-class>com.sencha.att.servlet.MmsOutboxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>VotingListener</display-name>
        <servlet-name>VotingListener</servlet-name>
        <servlet-class>com.sencha.att.servlet.votes.VotingListener</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>VotingCounter</display-name>
        <servlet-name>VotingCounter</servlet-name>
        <servlet-class>com.sencha.att.servlet.votes.Counter</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>GalleryListener</display-name>
        <servlet-name>GalleryListener</servlet-name>
        <servlet-class>com.sencha.att.servlet.gallery.GalleryListener</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>GalleryGetter</display-name>
        <servlet-name>GalleryGetter</servlet-name>
        <servlet-class>com.sencha.att.servlet.gallery.GalleryGetter</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>Gallery</display-name>
        <servlet-name>Gallery</servlet-name>
        <servlet-class>com.sencha.att.servlet.gallery.Gallery</servlet-class>
    </servlet>

    <servlet>
        <description></description>
        <display-name>UserAuthUrl</display-name>
        <servlet-name>UserAuthUrl</servlet-name>
        <servlet-class>com.sencha.att.servlet.UserAuthUrlServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>IndexInfo</display-name>
        <servlet-name>IndexInfo</servlet-name>
        <servlet-class>com.sencha.att.servlet.IndexInfoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>CreateIndex</display-name>
        <servlet-name>CreateIndex</servlet-name>
        <servlet-class>com.sencha.att.servlet.CreateIndexServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>GetDelta</display-name>
        <servlet-name>GetDelta</servlet-name>
        <servlet-class>com.sencha.att.servlet.GetDeltaServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description></description>
        <display-name>Message</display-name>
        <servlet-name>Message</servlet-name>
        <servlet-class>com.sencha.att.servlet.MessageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>AttAuthCheck</servlet-name>
		<url-pattern>/att/check</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AttAuthCallback</servlet-name>
		<url-pattern>/att/callback</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AttPaymentCallbackServlet</servlet-name>
		<url-pattern>/att/payment</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NotificationServlet</servlet-name>
		<url-pattern>/att/notifications</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SpeechToText</servlet-name>
		<url-pattern>/att/speech/v3/speechToText</url-pattern>
		<url-pattern>/att/speech/v3/speechToTextCustom</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>TextToSpeech</servlet-name>
        <url-pattern>/att/speech/v3/textToSpeech</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SmsOutbox</servlet-name>
        <url-pattern>/att/sms/v3/messaging/outbox</url-pattern>
        <url-pattern>/att/sms/v3/messaging/outbox/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SmsInbox</servlet-name>
        <url-pattern>/att/sms/v3/messaging/inbox/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MmsOutbox</servlet-name>
        <url-pattern>/att/mms/v3/messaging/outbox</url-pattern>
        <url-pattern>/att/mms/v3/messaging/outbox/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VotingListener</servlet-name>
        <url-pattern>/att/sms/votelistener</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VotingCounter</servlet-name>
        <url-pattern>/att/sms/votegetter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Gallery</servlet-name>
        <url-pattern>/att/mms/gallery/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GalleryListener</servlet-name>
        <url-pattern>/att/mms/gallerylistener</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GalleryGetter</servlet-name>
        <url-pattern>/att/mms/gallerygetter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserAuthUrl</servlet-name>
        <url-pattern>/att/oauth/userAuthUrl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexInfo</servlet-name>
        <url-pattern>/att/myMessages/v2/messages/index/info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateIndex</servlet-name>
        <url-pattern>/att/myMessages/v2/messages/index</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetDelta</servlet-name>
        <url-pattern>/att/myMessages/v2/delta</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/att/myMessages/v2/messages</url-pattern>
        <url-pattern>/att/myMessages/v2/messages/*</url-pattern>
    </servlet-mapping>
</web-app>
